%%-*- mode: erlang -*-

%% Build options
{erl_opts, [
    {src_dirs, ["src", "test"]}
]}.

%% Dependencies
{deps, [
    {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
]}.

%% Cleanup
{clean_files, ["ebin/*.beam","test/*.beam"]}.

%% EUnit tests
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
